<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.javainuse.com" class="navbar-brand">JavaInUse</a></div>

    <ul class="navbar-nav">
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">Bekijk spelers</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addspeler" class="nav-link">Nieuwe speler toevoegen</a>
      </li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
    </ul>

  </nav>

</header>
