<div class="col-md-6">
  <h2 class="text-center">Add Speler</h2>
  <form>
    <div class="form-group">
      <label for="name">Voornaam:</label>
      <input type="name" [(ngModel)]="spelerToAdd.voornaam" placeholder="voornaam" name="voornaam" class="form-control"
        id="voornaam">
    </div>

    <div class="form-group">
      <label for="name">Tussenvoegsel:</label>
      <input type="name" [(ngModel)]="spelerToAdd.tussenvoegsel" placeholder="tussenvoegsel" name="tussenvoegsel"
        class="form-control" id="tussenvoegsel">
    </div>

    <div class="form-group">
      <label for="name">Achternaam:</label>
      <input type="name" [(ngModel)]="spelerToAdd.achternaam" placeholder="achternaam" name="achternaam"
        class="form-control" id="achternaam">
    </div>

    <div class="form-group">
      <label for="name">Club:</label>
      <input type="text" [(ngModel)]="spelerToAdd.club" placeholder="club" name="club" class="form-control" id="club">
    </div>

    <div class="form-group">
      <label for="name">Positie:</label>
      <select [(ngModel)]="spelerToAdd.linienummer" placeholder="positie" name="positie" class="form-control"
        id="positie">
        <option selected value="0">Keeper</option>
        <option value="1">Verdediger</option>
        <option value="2">Middenvelder</option>
        <option value="3">Aanvaller</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Waarde:</label>
      <select type="number" [(ngModel)]="spelerToAdd.waarde" placeholder="positie" name="positie" class="form-control"
        id="name">
        <option selected value="1">€1.000.000</option>
        <option value="2">€2.000.000</option>
        <option value="3">€3.000.000</option>
        <option value="4">€4.000.000</option>
        <option value="5">€5.000.000</option>
      </select>
    </div>

    <button class="btn btn-success" (click)="createSpeler()">Create</button>
  </form>
</div>
