<table border="1">
  <thead></thead>
  <tr>
    <th>id</th>
    <th>voornaam</th>
    <th>achternaam</th>
  </tr>

  <tbody>
    <tr *ngFor="let speler of spelers">
      <td>{{speler.id}}</td>
      <td>{{speler.voornaam}}</td>
      <td>{{speler.achternaam}}</td>
      <td><button class="btn btn-danger" (click)="deleteSpeler(speler)"> Delete Speler</button></td>
    </tr>
  </tbody>
</table>
